<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

 <h1>Add</h1>
 <form action=""method="post">
      {% csrf_token%} 
<table border="3">
<tr>
 <td>Number1</td>
 <td><input type="text" name="txt_number1" placeholder="enter number"></td>
</tr>
<tr>
 <td>Number2</td>
 <td><input type="text" name="txt_number2"></td>
</tr>
<tr>
 <td colspan="2" align="right">
 <input type="submit" name="btnlog" value="add">
</tr>
<tr>
    <td>Result</td>
    
    <td>{{sum}}</td>
</form>
</table>
</body>
</html>
</body>
</html>
