{% extends "User/Header.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Shop Profile</title>
</head>
<body>
    <h1 align="center">Edit  Shop Profile</h1>
    <form action="" method="post"> 
        {% csrf_token %}


   <table class="table table-bordered table-hover" >
       
   <tr>
    <td>Name</td>
    <td><input class="form-control"  type="text" name="txt_name"  value="{{edit.shop_name}}"></td>
   </tr>
   <tr>
    <td>Email</td>
    <td><input class="form-control"  type="text" name="txt_email" value="{{edit.shop_email}}" ></td>
   </tr>
   <tr>
    <td>Contact</td>
    <td><input class="form-control"  type="text" name="txt_contact" value="{{edit.shop_contact}}" ></td>
   </tr>
   <tr>
    <td>Address</td>
    <td> <textarea class="form-control"  name="txt_address" id="txt_address">{{edit.shop_address}}</textarea></td>
   </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" class="btn btn-success" name="btnlog" value="Edit">
            
            
        </td>  
        </tr>
        </table>
    </form>
    
</body>
</html>
{% endblock %}