{% extends "User/Header.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Rate</title>
</head>
<body>
    <table class="table table-bordered table-hover">
        <tr>
            <td>#</td>
            <td>Type</td>
            <td>Rate</td>
            <td>Date</td>
        </tr>
        {% for i in rate %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.type_id.type_name}}</td>
            <td>{{i.rate_amount}}</td>
            <td>{{i.rate_date}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock %}